{% extends 'base.html.twig' %}



{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-success">
                </div>

                <div>
                    {% if app.user != null %}
                        <table class="table">
                            <tr>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>

                            {% for user in users %}
                                <tr>
                                    <td>{{user.name}}</td>
                                    <td>{{user.role}}</td>
                                    <td><a href="/user/edit/{{user.id}}">Edit</a></td>
                                    <td><a href="/user/delete/{{user.id}}">Delete</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>

                {% if app.user == null %}
                    <a href="/login" class="btn btn-info"> You need to login to see the list 😜😜 >></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}